<h1>Gêneros</h1>

<h3>
  <%= link_to "Cadastrar novo gênero", new_genre_path %>
</h3>

<ul>
  <% @genres.each do |genre| %>
    <li>
      <%= genre.name %>
    </li>
  <% end %>

</ul>
