<h1>Gênero: <%= @genre.name %></h1>

<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= link_to("#{movie.title} (#{movie.year})", movie_path(movie)) %>
    </li>
  <% end %>
</ul>

<%= link_to("Editar gênero", edit_genre_path) %>
